@import 'prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root { --primary: rgba(255,255,255, 1%); --secondary: #cbd5e1; }
    * { scrollbar-width: thin; scrollbar-color: var(--secondary) var(--primary); }
    *::-webkit-scrollbar { width: 3px; height: 3px }
    *::-webkit-scrollbar-track { background: var(--primary); border-radius: 3px; }
    *::-webkit-scrollbar-thumb { background-color: var(--secondary); border-radius: 11px; border: 3px solid var(--primary); }
    body { font-family: 'Inter', ui-sans-serif, system-ui,-apple-system,BlinkMacSystemFont,sans-serif !important; }
    .pre-font { font-family: 'Inconsolata','Source Code Pro', monospace !important; }
    nav a { @apply hover:text-slate-700 dark:hover:text-dark-300 text-sm font-light tracking-wide }
    .nav-heading { @apply font-semibold text-gray-600 dark:text-dark-400 cursor-default text-xs tracking-wider uppercase bg-slate-200 dark:bg-dark-800 p-4 sm:px-4 sm:py-2 sm:mr-4 rounded-sm sm:mt-8 }
    .dot { @apply border border-slate-300 inline-block h-2 w-2 rounded-full mr-2 ml-3 rtl:ml-2 }
    .active .dot { @apply border border-indigo-400 bg-indigo-400 }
    .active { @apply  border-l-2 border-l-indigo-600 bg-gradient-to-r from-indigo-50 to-white dark:from-dark-600 dark:bg-dark-600 }
    .active a { @apply text-indigo-500 py-1.5 dark:text-indigo-200 }
    .page-title { @apply font-light tracking-wide text-3xl text-slate-800  mb-6 dark:text-slate-500 }
    .content-area p { @apply leading-8 text-slate-600 dark:text-slate-400 mb-7 }
    .content-area a { @apply text-indigo-500 hover:text-indigo-700 }
    .content-area h2, .content-area h3, .content-area h4, .content-area h5, .content-area h6 { @apply scroll-mt-24 font-light mb-4 mt-10 block tracking-wide }
    h2 { @apply font-light text-2xl text-slate-600 dark:text-orange-400 }
    h3 { @apply text-xl text-slate-600 }
    .navigation a { @apply border-t border-slate-300 pt-4 block w-full pl-6 dark:border-gray-800 }
    .navigation div.dot { @apply hidden }
    .navigation h5 { @apply pl-6 }
    pre { @apply rounded-xl !bg-slate-700 dark:!bg-gray-900 !mt-4 !mb-7 !py-4 }
    .home-nav div.home { @apply text-slate-600 !text-center bg-slate-200 rounded-xl hover:bg-slate-400 cursor-pointer hover:text-white inline-block sm:block }
    .home-nav div.home a { @apply block w-full px-5 py-3 sm:p-3  }
    .home-nav div.home div.dot { @apply hidden }
    div.mnos div.bw-progress-bar div.w-full { @apply !bg-slate-700 }
}
