@import 'prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root { --primary: rgba(255,255,255, 1%); --secondary: #1e293b; --slide-distance: 20px; --slide-duration: 1s; }
    * { scrollbar-width: thin; scrollbar-color: var(--secondary) var(--primary); }
    *::-webkit-scrollbar { @apply w-1 h-1 }
    *::-webkit-scrollbar-track {  @apply bg-slate-100/10 dark:bg-dark-700/5 }
    *::-webkit-scrollbar-thumb { @apply bg-slate-200 dark:bg-dark-600/40 border-4 rounded-md }
    body { font-family: 'Lineal', ui-sans-serif, system-ui,-apple-system,BlinkMacSystemFont,sans-serif !important; }
    .pre-font { font-family: 'Inconsolata','Source Code Pro', monospace !important; }
    nav a { @apply text-gray-700 hover:text-indigo-500 dark:text-dark-400 dark:hover:text-dark-300 text-sm font-light tracking-wider }
    .nav-heading { @apply font-semibold text-xs text-black tracking-wider uppercase px-6 pt-6 pb-4 md:pb-0 md:mr-4 dark:text-dark-200 }
    .dot { @apply border border-slate-300 inline-block h-2 w-2 rounded-full mr-2 ml-6 rtl:ml-2 }
    .active .dot { @apply border border-indigo-400 bg-indigo-400 }
    .active { @apply  bg-gradient-to-r from-white via-indigo-300/50 to-white dark:from-dark-600 dark:bg-dark-600 }
    .active a { @apply text-indigo-700 py-1.5 dark:text-indigo-200 }
    .page-title { @apply font-light text-4xl text-slate-700  mb-9 dark:text-slate-300 tracking-wide }
    .adoc p { @apply leading-8 text-slate-600 dark:text-slate-400 mb-7 }
    .adoc a { @apply text-indigo-400 hover:underline }
    .side-nav a { @apply text-indigo-500 hover:text-black }
    .adoc h2, .adoc h3, .adoc h4, .adoc h5, .adoc h6 { @apply scroll-mt-24 font-bold mb-4 mt-10 block tracking-wide }
    h2 { @apply !font-light text-2xl text-slate-600 dark:text-orange-400 pt-5 }
    h3 { @apply text-xl text-slate-600 dark:text-orange-400 !font-light }
    .navigation a { @apply border-t border-slate-300 pt-4 block w-full pl-6 dark:border-gray-800 }
    .navigation div.dot { @apply hidden }
    .navigation h5 { @apply pl-6 }
    pre { @apply rounded-xl !bg-slate-700 dark:!bg-gray-800/70 dark:drop-shadow-lg !py-4 !my-5 !text-sm }
    code.inline { @apply bg-gray-200/80 text-sm px-2 py-1 rounded-lg mb-1 mr-1 inline-block dark:bg-gray-800/50 }
    code.text-red-500 { @apply dark:text-red-300 }
    .bw-alert code.inline { @apply  dark:text-gray-400 }
    .line-numbers { @apply !leading-7 }
    .line-numbers-rows { @apply !leading-[27px] }
    .copy-to-clipboard-button { @apply !pt-0.5 !pb-1.5 !px-2 mr-2 !rounded-none !text-gray-300 hover:!text-white }
    .home-nav div.home { @apply border border-transparent text-slate-600 dark:text-dark-400 !text-center bg-slate-200 rounded-xl hover:bg-slate-400 cursor-pointer hover:text-white inline-block sm:block dark:bg-dark-700 dark:hover:border-dark-500 }
    .home-nav div.home a { @apply block w-full px-5 py-3 sm:p-3  }
    .home-nav div.home div.dot { @apply hidden }
    div.mnos div.bw-progress-bar div.w-full { @apply !bg-slate-700 }
}
